@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
/* 기본 적용*/
* {
  font-family: "Pretendard-Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  display: block;
}
body {
  background-color: #fafafa;
}
header {
  width: 100%;
}
a {
  text-decoration: none;
  background-color: transparent;
}

img {
  border: none;
  display: inline;
}

input {
  border: 0 solid black;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
/* 헤더 */
.header {
  position: fixed;
  width: 100%;
  height: 60px;
  border-bottom-width: 2px;
  background-color: #fff;
  top: 0;
  border-bottom: solid #e3e3e3;
  z-index: 10;
}

.header-wrapper {
  width: 100%;
  padding-bottom: 0;
}

.header-container {
  width: 100%;
  text-align: left;
  display: flex;
  position: relative;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header-hamburger {
  position: absolute;
  width: 60px;
  height: 60px;
  display: inline-block;
  padding: 0.9rem;
  left: 0;
}

.header-hamburger img {
  width: 25px;
  height: 25px;
}

.header-left {
  display: inline-block;
  margin-left: 47px;
}

.header-logo {
  display: inline-block;
  padding-bottom: 1rem;
  padding-top: 16px;
}

.logo-img {
  width: 55px;
  height: 26px;
}

.header-right {
  display: flex;
  width: 100%;
  float: right;
  white-space: nowrap;
  text-align: right;
  align-items: center;
  line-height: 60px;
  height: 60px;
}

.header-right-item {
  display: inline-block;
  margin-left: 30px;
}

.search {
  position: relative;
  line-height: 2;
  padding-left: 10%;
  margin-left: auto;
  width: 100%;
  height: 37px;
}

.form-search {
  position: relative;
  border-radius: 0;
  width: 100%;
  height: 37px;
  line-height: 2;
  max-width: 945px;
}

.form-search input {
  background-color: transparent;
  text-align: left;
  width: 100%;
  height: 100%;
  padding-right: 3rem;
  padding-left: 1.3em;
  font-size: 20px;
}

.register {
  display: inline-block;
}

.button-register {
  background-color: #ec4352;
  border-radius: 9999px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  border-width: 0;
  color: #fff;
  cursor: pointer;
}

.icon {
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 1.25rem;
  right: 5rem;
  top: 50%;
  transform: translateY(-50%);
}
/* 배너 */
/* 배너 */
.banner {
  position: relative;
  top: 83px;
  background: rgb(135, 206, 188);
  margin: 0 auto;
  margin-bottom: 100px;
  width: 99%;
  height: 100%;
  padding: auto;
  border-radius: 12px;
}
#banner-img {
  position: relative;
  display: inline-block;
  left: 15%;
  order: 1;
  width: 40%;
  padding: 5px;
}
.class-title {
  display: inline-block;
  position: relative;
  left: 68px;
  font-size: 32px;
  bottom: 70px;
  color: rgba(255, 255, 255);
}
.class-subtitle {
  display: inline-block;
  position: relative;
  left: 10px;
  font-size: 18px;

  color: rgba(255, 255, 255);
  bottom: 27px;
}
/* 네비 */
nav {
  width: 28%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

ul {
  list-style: none;
}

li a {
  display: inline-block;
  font-weight: 500;
  font-size: 1.125rem;
  padding: 10px 2px 10px 4px;
  color: #333;
}

li a span {
  color: #3ecd1d;
  font-size: 12px !important;
  padding-left: 3px;
  font-weight: 600;
}

li hr {
  border: 0;
  border-top: 2px dashed rgb(222, 222, 222);
}
/* 메인 */
.container {
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 60px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1500px;
  display: flex;
}
/* 메인 섹션 시작점 */
.article-body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 13px;
  border: 1px solid #a9afb3;
  overflow: hidden;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}
/* 섹션 1 */
/* 메인 이미지 */
.Information01 {
  float: left;
  border-bottom: 1px solid #a9afb3;
  margin-top: 20px;
  width: 100%;
}
.title {
  margin-top: 30px;
  margin-left: 15px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #a9afb3;
  display: -webkit-box;
  overflow: hidden;
}
.subtitle {
  width: 100%;
  margin-left: 5px;
  margin-top: 10px;
  border-width: 0;
  color: #333;
  font-size: 1.275rem;
  font-weight: 500;
  line-height: 2.225rem;
  margin-bottom: 10px;
}
.Information02 {
  float: left;
  margin-top: 20px;
  width: 100%;
}
.field {
  width: 100%;
}
.field > input {
  border-bottom: #a9afb3 solid 1px;
  padding: 10px;
  width: 330px;
  color: #333;
  font-size: 0.975rem;
  font-weight: 500;
  line-height: 1.225rem;
}
.application {
  width: 70%;
  height: 95%;
  margin: 0 auto;
  border-width: 0px;
  margin-bottom: 5px;
  line-height: 1.775rem;
}
.application > li {
  width: 100%;
  height: 100%;
}
.application > li > input {
  display: inline-block;
  width: 40%;

  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 1rem;
  font-weight: 700;
  height: 3rem;
  background-color: #333;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
/* aside */
aside {
  position: static;
  width: 25%;
  padding-left: 1rem;
  margin-top: 40px;
}

aside img {
  width: 100%;
}

aside button {
  width: 100%;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  height: 3rem;
  background-color: #333;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

div.page-nav-container {
  margin-top: 40px;
  text-align: center;
  font-size: 0.875 rem;
}

div.page-nav {
  display: inline-block;
}

div.page-nav button {
  color: #7d7d7d;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  margin-right: 15px;
  appearance: none;
  cursor: pointer;
  background: none;
}

div.page-nav button:hover {
  border: 1px solid #0206af;
  border-radius: 3px;
}
/* footer */
.footer {
  background-color: #333;
  border-top: none;
  color: #fff;
}

.footer-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  font-size: 0.75rem;
}

.footer-container {
  margin: auto;
  max-width: 100%;
  width: 1172px;
  padding-left: 16px;
  padding-right: 16px;
}

.footer-left {
  flex-direction: row;
  flex: auto;
  display: flex;
  height: 100%;
}

.footer-logo {
  margin-bottom: 0;
  width: 75px;
  height: auto;
  margin-right: 40px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 0.875rem;
  font-weight: 500;
  max-width: 540px;
}

.footer-menu li {
  margin-right: 0.75rem;
}

.footer-information {
  display: flex;
  max-width: 550px;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 1.25rem;
}

.footer-information li {
  margin-right: 0.75rem;
  margin-top: 5px;
}

.footer-information li button {
  color: inherit;
  font-size: inherit;
}

.copyright {
  margin-top: 1.25rem;
}
/* 미디어 쿼리 */
@media screen and (max-width: 1224px) {
  .container-new .article-line-new {
    width: 100%;
    overflow: auto;
  }
  nav {
    display: none;
  }
  .aside {
    display: none;
  }
}
