@charset "utf-8";

* {
    border: 0 solid #e3e3e3;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard';
    font-size: 1rem;
    color: #333;
    background-color: #FAFAFA;
    /* line-height: 1.6  */
}

a {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    border: none;
    display: inline;
}

a {
    text-decoration: none;
    background-color: transparent;
}

header{
    width: 100%;
}

input {
    border: 0 solid black;
}

input:focus {
    outline:none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

/* 배너 헤더 */
header#banner {
    background-color: rgb(90, 154, 212);
    width: 100%;
    border-radius: 12px;
    margin-top: 80px;
}

header#banner > div{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 100px;
    display: flex;
    align-items: center;
}

header#banner > div > div{
    margin-right: 80px;
}

.banner-text {
    color: white;
    font-weight: 600;
    font-size: 1.8rem;
}

.banner-text span {
    font-size: 1rem;
}

/* 메인 */
main {
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 60px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 1500px;
    display: flex;
}

/* 네비게이션 */
nav {
    width: 17%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

}

ul {
    list-style: none;
}

nav#categoryNav a {
    display: inline-block;
    font-weight: 500;
    font-size: 1.125rem;
    padding: 10px 2px 10px 4px;
    color: #333;
}

nav#categoryNav a:hover {
    color: #0206af;
}

li a span {
    color: #3ecd1d;
    font-size: 12px !important;
    padding-left: 3px;
    font-weight: 600;
}

li hr {
    border: 0;
    border-top: 2px dashed rgb(222, 222, 222);
}

/* 섹션 */
section {
    width: 66%;
    padding-left: 0.725rem;
    padding-right: 0.725rem;
}

div.tabs button{
    font-size: 1.125rem;
    background: none;
    border: 0;
    outline: 0;
    font-family: inherit;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    margin-right: 2rem;
}

div.tabs button:hover {
    color: #0206af;
}

div.tabs hr {
    border: 0;
    border-top: 1px solid #eee;
}

article {
    margin: 1rem 0;
    padding: 0 1rem;
    display: flex;
    border-radius: 12px;
    border-width: 1px;
    width: 100%;
    height: 100px;
    background-color: white;
    color: #a9afb3;
}

div.article-left {
    background-color: #f7fafd;
    width: 45px;
    height: 85px;
    text-align: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 1px solid #a9afb3;
}

div.article-left div{
    padding: 10px 0;

}

div.article-right {
    margin: 10px 10px;
    width: 100%;
}

div.article-right header h1{
    font-weight: 400 !important;
    margin: 0;
    color: #333;
}

div.article-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

div.icon-conatiner {
    display: flex;
}

div.icon-conatiner img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

div.icon-conatiner span {
    margin-right: 20px;
}

/* 어사이드 */
aside {
    width: 17%;
    padding-left: 1rem;
    margin-top: 40px;
}

aside img {
    width: 100%;
}

button.question-button {
    width: 100%;
    display: block;
    font-size: 1rem;
    font-weight: 400 !important;
    height: 3rem;
    background-color: #22252b;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

button.question-button:hover {
    background-color: #323232;
}

div.page-nav-container {
    margin-top: 40px;
    text-align: center;
    font-size: .875 rem;
}

div.page-nav {
    display: inline-block;
}

div.page-nav button {
    color: #a9afb3;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    margin-right: 15px;
    appearance: none;
    cursor: pointer;
    background: none;
}

div.page-nav button:hover {
    border: 1px solid #0206af;
    border-radius: 3px;
}
