@font-face {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard",Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  border: none;
  display: inline;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul{
  list-style: none;
}

.footer {
  background-color: #333;
  border-top: none;
  color: #fff;
}

.footer-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  font-size: .75rem;
}

.footer-container {
  margin: auto;
  max-width: 100%;
  width: 1172px;
  padding-left: 16px;
  padding-right: 16px;
}

.footer-left {
  flex-direction: row;
  flex: auto;
  display: flex;
  height: 100%;
}

.footer-logo {
  margin-bottom: 0;
  width: 75px;
  height: auto;
  margin-right: 60px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: .875rem;
  font-weight: 500;
  max-width: 540px;
}

.footer-menu li {
  margin-right: 0.75rem;
}

.footer-information {
  display: flex;
  max-width: 550px;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 1.25rem;
}

.footer-information li {
  margin-right: 0.75rem;
  margin-top: 5px;
}

.footer-information li button {
  color: inherit;
  font-size: inherit;
}

.copyright {
  margin-top: 1.25rem;
}

.footer-logo-img{
  width: 100px;
  height: 80px;
}