@font-face {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard",Helvetica,Arial,sans-serif;
  border: 0 solid #e3e3e3;
}

a {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  border: none;
  display: inline;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul{
  list-style: none;
}

body{
  width: 100%;
  height: 100%;
  position: relative;
}

#sidebar{
  display:none;
  z-index: 1100;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  /* right: -100%; */
  z-index: 1002;
  width: 320px;
  max-width: 90%;
} /*애니메이션 효과 넣기*/

.sidebar-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  top: 0;
  display: none;
  z-index: 1001;
}

.sidebar-inner {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1100;
}

.sidebar-wrapper {
  padding-bottom: 57px;
  position: relative;
  min-height: 100%;
  z-index: 1100;
  background-color: #fff;
}

.sidebar-header {
  color: #fff;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #0206af;
  height: 60px;
}

.sidebar-close{
  display: flex;
}

.sidebar-close img{
  width: 15px;
  height: 15px;
}

.sidebar-home{
  padding-bottom: 0.25rem;
  font-size: 1rem;
}

.sidebar-notice {
  justify-content: center;
  align-items: center;
  display: flex;
}

.sidebar-notice img {
  width: 18px;
  height: 18px;
}

.sidebar-user{
  padding: 1.25rem;
}

.user-content {
  align-items: center;
  display: flex;
}

.profile-image {
  background-image: url("https://www.a-ha.io/_nuxt/img/default_profile.f2e66ea.svg");
  width: 59px;
  height: 59px;
  display: inline-block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  vertical-align: middle;
  border-radius: 50%;
}

.profile-login {
  margin-left: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.profile-login >img {
  width: 18px;
  height: 18px;
  margin-top: 1px;
}

.sidebar-main {
  margin-top: 2rem;
  justify-content: space-between;
  display: flex;
}

.sidebar-main a {
  color: #666;
  text-align: center;
}

.sidebar-menu a {
  border-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-color: #eee;
  padding: 1rem 1.25rem;
  display: block;
  color: #333;
  font-weight: 500;
}

.sidebar-login {
  top: auto;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f5f5f5;
}