<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  <servlet>
  	<servlet-name>Admin</servlet-name>
  	<servlet-class>com.askSenior.app.admin.AdminFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Admin</servlet-name>
  	<url-pattern>*.admin</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Answer</servlet-name>
  	<servlet-class>com.askSenior.app.answer.AnswerFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Answer</servlet-name>
  	<url-pattern>*.answ</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Lecture</servlet-name>
  	<servlet-class>com.askSenior.app.lecture.LectureFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Lecture</servlet-name>
  	<url-pattern>*.lect</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Member</servlet-name>
  	<servlet-class>com.askSenior.app.member.MemberFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Member</servlet-name>
  	<url-pattern>*.me</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Notice</servlet-name>
  	<servlet-class>com.askSenior.app.notice.NoticeFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Notice</servlet-name>
  	<url-pattern>*.noti</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Question</servlet-name>
  	<servlet-class>com.askSenior.app.question.QuestionFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Question</servlet-name>
  	<url-pattern>*.ques</url-pattern>
  </servlet-mapping>
  
</web-app>